.App {
  width: 40%;
  margin: 2em auto;
  background-color: #fff;
  border-radius: 5px;
  color: #000000c0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.202);
}


.todo-header {
  padding: 0.5em;
  border-bottom: 1px solid #2c3035;
  text-align: center;
}

.todo-header h1 {
  margin: 1;
  color: #635EF2;
  text-shadow: 1px 1px 1px #0000001c;
}

.form-todo {
  padding: 1em;
  margin: 0 2em;
  border-bottom: 1px solid #2c3035;
}

.form-todo h2,
.list-todo h2 {
  font-weight: 400;
  text-align: center;
  margin: top 0;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-family: Work Sans;
  font-size: 0.9rem;
  font-weight: 400;
  color: #000000c0;
}

.form-control input {
  font-family: Work Sans;
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
}

.form-control input:hover {
  background-color: #eeeeee75;
  transition: background-color 0.2s ease;
  transition-delay: 0.2s;
}

.form-control input:focus-visible {
  outline: 1px solid #635EF2;
}

input[type="submit"] {
  font-family: Work Sans;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.9rem;
  border: none;
  background-color: #635EF2;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}

input[type="submit"]:hover {
  background-color: #6b63fff1;
  transition: background-color 0.2s ease;
  transition-delay: 0.2s;
}

.list-todo {
  padding: 0 1em 2em;
  margin: 1em 2em;
}

.list-todo h2 {
  margin-bottom: 0;
}

list-todo p {
  text-align: center;
}

.todo {
  border-bottom: 1px solid #444;
  padding: 1em 0;
}

.todo h3 {
  margin-bottom: .5em;
}

.todo-done {
  text-decoration: line-through;
  color: #635EF2;
}

.todo p {
  text-align: left;
  font-style: italic;
  font-size: .7em;
  margin-bottom: 1.5em;
}

.todo svg {
  font-size: 1.2em;
  cursor: pointer;
  margin-right: 1em;
  transition: 0.5s;
}

.todo svg:hover {
  color: #635EF2;
}